/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    background-image: url('/img/Espacio.jpg'); 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
h1 {
    height: 100px;
    background:#892be26d; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 20px;
    margin-top: 2%;
    border: 3px solid blue;
    box-shadow: 0 0 30px aqua;
    box-sizing: border-box;
    margin-bottom: 2%;
}
header h1{
    margin-left: 50px;
}
.contenedor{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px white;
    background-color: rgba(0, 0, 0, 0.696);
    margin-top: 40px;
    margin-bottom: 40px;

}
label{
    font-size: 30px;
    text-shadow: 0px 0px 10px white;
}

#tablamuestra {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #tablamuestra th, #tablamuestra td {
    border: 1px solid purple;
    padding: 8px;
    text-align: left;
  }
  
  #tablamuestra th {
    background-color:blueviolet;
    color: white;
  }
  
  #tablamuestra tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.696);
  }
  
  #tablamuestra tbody tr:hover {
    background-color: #dddddd33;
    color: black;
    text-shadow: 0px 0px 10px white;
  }
  
        img{
          height: 100px;
          width: 100px;
        }

        button {
            background-color: blueviolet;
            color: white;
            padding: 10px 20px;
            font-size: 18px;
            border: 5px solid purple;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            margin-top: 10px;
        }
        
        button:hover {
            border: 5px solid #8a2be2;
            background-color: purple; /* Cambia el color al pasar el mouse */
            color: white;
            box-shadow: 0px 0px 10px #8a2be2;
            text-shadow: 0px 0px 10px white;
            transform: scale(1.1);
        }
        button:active {
            border: 5px solid purple;
            background-color: #8a2be2; /* Cambia el color al pasar el mouse */
            color: white;
            transform: scale(0.9);
        }