/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background: rgba(0, 0, 255, 0.21); 
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 20px;
    margin-top: 2%;
    border: 3px solid blue;
    box-shadow: 0 0 30px blue;
    box-sizing: border-box;
    margin-bottom: 2%;
}
header h1{
    margin-left: 50px;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    background-image: url('/img/Espacio.jpg'); 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    padding: 30px 0 40px 0;
    gap: 60%;
    height: 100px;
    background: rgba(0, 0, 255, 0.21); 
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 20px;
    margin-top: 2%;
    border: 3px solid blue;
    box-shadow: 0 0 30px blue;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: purple;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: black;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid white;

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px blue;
    color: black;
    padding: 5px;
}

.item:hover{
    box-shadow: 0 10px 20px white;
    background-color: rgba(0, 0, 255, 0.63);
    color: white;
}

.item figure img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .5s;
    border-radius: 20px;
}

.item figure{
    overflow: hidden;
    border-radius: 20px;
}

.item:hover figure img{
    transform: scale(1.2);
    

}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    font-size: 50px;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
header img {
    width: auto;
    height: 50px;
    margin-right: 15px;
}
footer {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.304); 
    padding: 10px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border: 3px solid black; 
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}







ul.menu {
    color: white;
    background: rgba(128, 0, 128, 0.348); 
    border: 3px solid purple;
    box-shadow: 0 0 30px purple;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2%;
    box-sizing: border-box;
    
}

ul.menu li {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
}

ul.menu li.active {
    color: rgb(218, 94, 218);
    text-shadow: 0 0 50px  purple;
    background-color: rgba(137, 43, 226, 0.366);
    box-shadow: 0 0 50px purple;
    font-size: 20px;
    width: auto;
}
@media screen and (max-width: 700px) {
    ul.menu {
        flex-direction: column;
        align-items: center;

    }
    
    ul.menu li {
        width: 100%;
        text-align: center;
        
    }
}
ul.menu li:hover {
    transform: scale(1);
    -webkit-text-stroke: 0.5px rgb(216, 18, 216); 
    transform: scale(1.3);
    color: white;
    text-shadow: 0px 0px 10px white;
}

ul.menu li:active {
    transform: scale(1);
    -webkit-text-stroke: 1px rgb(248, 12, 248); 
  color: transparent;
    text-shadow: 0px 0px 10px rgb(255, 17, 255);
  }
  
  .acomodar-btn{
    display: flex;
    flex-direction:row;
  }
  .item:not(#seccion-inicio) {
    display: none;
  }

  @keyframes desplazar-izquierda {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(0);
    }
}

img{
    width: 100%;
    height: 500px;
    
}
.imagen-container {
    overflow: hidden;
    width: 300px; /* Establece el ancho deseado del contenedor */
    height: 300px; /* Establece la altura deseada del contenedor */
    position: relative;
  }

  ul.menu button{
    background-color: palevioletred;
    border: 5px solid purple;
    margin: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
}
ul.menu button:hover{
    background-color: purple;
    border: 5px solid palevioletred;
    margin: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    scale: 1.1;
    text-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white;
}
ul.menu button:Active{
    background-color: palevioletred;
    border: 5px solid purple;
    margin: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    scale: 0.9;
}