/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    background-image: url('/img/Espacio.jpg'); 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
h1 {
    height: 100px;
    background: rgba(0, 0, 255, 0.21); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 20px;
    margin-top: 2%;
    border: 3px solid blue;
    box-shadow: 0 0 30px blue;
    box-sizing: border-box;
    margin-bottom: 2%;
}
header h1{
    margin-left: 50px;
}
.contenedor{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px white;
    background-color: rgba(0, 0, 0, 0.696);

}
label{
    font-size: 30px;
    text-shadow: 0px 0px 10px white;
}
th{
    border: 2px solid white;
}
#tablamuestra{
    display: flex;
    justify-content: center;
}
button{
    padding: 5px;
    border-radius: 5px;
}