/* Globales */
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    background-image: url(/img/Espacio.jpg);
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: purple;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: black;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid white;

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}


#all-conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 0%;
    background-color:rgba(0, 0, 255, 0.21);  /* Relleno rojo con 50% de opacidad */
    color: white;
    border: 3px solid blue;
    box-shadow: 0 0 30px blue;
    box-sizing: border-box;
    border-radius: 10px;
    & img{
        height: 100%;
        width: 100px;
    }
}

header img {
    width: auto;
    height: 80px;
    margin-top: -30px;
}

.menu {
    list-style: none;
    display: flex;
    background-color: #555;
    padding: 10px;
}

ul.menu {
    color: white;
    background: rgba(128, 0, 128, 0.348); 
    border: 3px solid purple;
    box-shadow: 0 0 30px purple;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2%;
    box-sizing: border-box;
}


.menu li {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu li:hover {
    text-shadow: 0 0 10px  white;
    scale: 1.2;
    width: auto;
}
.menu li:active{
color: pink;
text-shadow: none;
scale: 1.0;
}
#productosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.item {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.973);
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.5s ease;
}
.item img:hover{
    scale: 1.3;
    
}
.item button{
    width: 100%;
    background-color:black;
    margin-bottom: 5px;
}
.item button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px white;
    background-color: white;
    color: black;
}
.item button:active{
    scale: 0.9;
    background-color: black;
    box-shadow: 0px 0px 10px white;
}
button{
    display: block;
    height: 60px;
    width: 50px;
    font-size: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.304); 
    padding: 10px;
    width: 1100px;
    height: 70px;
    box-sizing: border-box;
    border: 3px solid black; 
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.menu button{
    background-color: palevioletred;
    border: 5px solid purple;
    margin: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: auto;
}
ul.menu button:hover{
    background-color: purple;
    border: 5px solid palevioletred;
    margin: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    scale: 1.1;
    text-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white;
}
ul.menu button:Active{
    background-color: palevioletred;
    border: 5px solid purple;
    margin: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    scale: 0.9;
}
.item{
    background-color: white;
    border: 4px solid white;
    box-shadow:0px 0px 10px white;
}
.item:hover{
    background-color: rgba(0, 0, 255, 0.311);
    scale: 1.1;
    color: white;
    border: 2px solid blue;
    box-shadow: 0px 0px 10px blue;
}